@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
}
.display{
    display: none;
}

.active{
    color:gray;
    font-size: 1.1rem;
}

@media screen and (max-width:480px) {
    .display{
        display: block;
    }
    .displaybtn{
        display: none;
    }
}