@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
}

.display{
    display: none;
}

.displaybtn{
    display: flex;
    flex-direction: row;
}

.active{
    color:gray;
    font-size: 1.1rem;
}

@media screen and (max-width:480px) {
    .display{
        display: block;
    }
    .displaybtn{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 7px;
    }
    #mainContainer{
        display: flex;
        flex-direction: column;
    }
    .btndisplay{
        display: none;
    }
}